body {
    padding: 80px 0;
}

.pos-rel {
    position: relative;
}
.cloak {
    display: none;
}

pre {
    overflow: auto;
    word-wrap: normal;
    white-space: pre;
    background: rgba(255,255,255,.8);
}

.search-dropdown {
    position: absolute;
    right: 30px;
    width: auto;
    top: 40px;
}

.search-dropdown {}

.search-dropdown strong {
    color: black;
}

#file-lint .file {
    border-top: 1px solid #eee;
    margin-top: 20px;
    padding: 60px 0 0;
}

.file h3 {
    margin-top: 10px;
}

.info, .warning, .danger {
    border-left: 0.5em solid #ccc;
    background: rgba(0,0,0,.05);
    padding: 0.5em 1em;
}

.warning {
    background: #faf8f0;
    border-color: #faebcc;
    color: #8a6d3b;
}

.danger {
    background: #fdf7f7;
    border-color: #eed3d7;
    color: #b94a48;
}

.changelog {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    min-width: 20em;
}

.changelog-inner {
    position: relative;
}

.change {
    width: 100%;
    display: block;
    margin: 1em;
    background: rgba(255,255,255,0.9);
    padding: 0.5em 0.8em;
    border: 1px solid rgba(0,0,0,.3);
    position: relative;
    @-webkit-animation: grow-in ease-in-out 500ms;
}

.change:hover {
    text-decoration: none;
}

.change h1,
.change h2,
.change h3,
.change p{
    font-size: 1em;
    margin: 0;
}

.change header {
    overflow: hidden;
}
.change .content {
    margin-top: 0.8em;
}
.change h1 {
    color: black;
    float: left;
    width: 40%;
}
.change h2 {
    width: 60%;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.change h3 {
    font-size: 0.8em;
    word-wrap: break-word;
}